<!DOCTYPE html>
<html>
<head>
  <title>ERAU Motorsports</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><%= image_tag("logo_erau.png") %></a>
        <div class="nav-collapse collapse">
          <a class="brand pull-right-force" href="http://students.sae.org/competitions/formulaseries/"><%= image_tag("logo_sae.png") %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span3">
        <ul class="nav nav-list sidenav affix">
          <li class="<%= 'active' if current_page?("/") %>"><a href="/">Home</a></li>
          <li class="<%= 'active' if current_page?("/pages/competition") %>"><%= link_to "Competition", page_path(:id => "competition") %></li>
          <li class="<%= 'active' if current_page?("/pages/team") %>"><%= link_to "Team", page_path(:id => "team") %></li>
          <li class="<%= 'active' if current_page?("/pages/photos") %>"><%= link_to "Photos", page_path(:id => "photos") %></li>
          <li class="<%= 'active' if current_page?("/pages/videos") %>"><%= link_to "Videos", page_path(:id => "videos") %></li>
          <li class="<%= 'active' if current_page?("/pages/contact") %>"><%= link_to "Contact", page_path(:id => "contact") %></li>
          <li class="<%= 'active' if current_page?("/pages/sponsors") %>"><%= link_to "Sponsors", page_path(:id => "sponsors") %></li>
        </ul>
      </div><!--/span-->
      <div class="span9">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div><!--/row-->
  </div><!--/container-->

  <footer class="footer">
    <div class="container">
      <p>&copy; ERAU Motorsports <%= Time.now.year %></p>
      <% if is_admin? %>
        <p>You are admin</p>
      <% end %>
      <% unless ENV["HEROKU_RELEASE_NAME"].nil? %>
        <p>Platform Version: <%= ENV["HEROKU_RELEASE_NAME"] %></p>
      <% end %>
    </div>
  </footer>

</body>
</html>
