<!DOCTYPE html>
<html>
<head>
  <title>ERAU Motorsports</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/"><%= image_tag("logo_erau.png") %></a>
        <div class="nav-collapse collapse">
          <a class="brand pull-right-force" href="http://students.sae.org/competitions/formulaseries/"><%= image_tag("logo_sae.png") %></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span3">
        <ul class="nav nav-list sidenav affix">
          <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
          <li class="<%= 'active' if current_page?(competition_path) %>"><%= link_to "Competition", competition_path %></li>
          <li class="<%= 'active' if current_page?(team_path) %>"><%= link_to "Team", team_path %></li>
          <li class="<%= 'active' if current_page?(photos_path) %>"><%= link_to "Photos", photos_path %></li>
          <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
          <li class="<%= 'active' if current_page?(sponsors_path) %>"><%= link_to "Sponsors", sponsors_path %></li>
        </ul>
      </div><!--/span-->
      <div class="span9">
        <%= yield %>
      </div>
    </div><!--/row-->
  </div><!--/container-->

  <footer class="footer">
    <div class="container">
      <p>&copy; ERAU Motorsports <%= Time.now.year %></p>
    </div>
  </footer>

</body>
</html>
